@using B2C.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo/kendo.default.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - Login</title>
</head>
<body>

    <div class="col-xs-12" style="text-align:center">
        <div class="row">
            <!-- logo -->
            <div>
                <a href="@Url.Action("Index","Home")"><img src="~/Content/Images/Logo.png" class="img-responsive" alt="B2C" width="250px;" /></a>
            </div>
        </div>
    </div>

    <!-- titulo -->
    <div class="col-xs-12">
        <div class="titulo_seccion popup">
            <h2>Inicio de sesión</h2>
        </div>
        <br />
        <br />
    </div>
    <!-- fin titulo -->

    <div class="container">

        @*Mostar mensaje*@
        @if (ViewData["MostrarMensaje"] != null && !string.IsNullOrEmpty(ViewData["MostrarMensaje"].ToString()))
        {
            <div id="mensajeResultadosContainer" class="" role="alert">
                <button type="button" data-dismiss="alert">
                    <div class="cerrar_popup">
                        <img src="~/Content/Images/CloseWindow.png" />
                    </div>
                </button>
                <h4><span id="mensajeResultados">@ViewData["MostrarMensaje"]</span></h4>
            </div>
        }

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewData["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginForm" }))
        {
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div>
                        *@Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        *@Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "check" })
                    </div>
                    <div style="text-align:center">
                        <a href=""><h5>@Html.ActionLink("Registrese", "Registry")</h5></a>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <br />
                    <h5>Campos marcados con * son obligatorios.</h5>

                    @Html.ValidationMessage("mensajeError", new { @class = "text-danger", id = "mensajeValidacion" }) <br />

                    <!-- Gif animado -->
                    <h5 id="loading" class="hidden"><img src="~/Content/Kendo/Default/loading.gif" />Cargando...</h5>
                    <!-- fin Gif animado -->
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <!-- botones -->
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4" style="text-align:center">
                    <button type="submit" value="Ingresar" name="submitAction" style="width:110px; height:80px; ">
                        <h5>Ingresar</h5>
                    </button>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        <!-- fin botones -->
        }
    </div>

    <!-- fin contenedor -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/masterjs")
    <script>
        $('#loginForm').submit(function () {
            $("#loading").removeClass("hidden");

        });
    </script>
</body>
</html>
