@model PICA_B2C.Business.MainModule.Entities.Models.Item
@{var idContenedor = "cont" + Model.ProductId.ToString();
    var loadingContenedor = "loading" + Model.ProductId.ToString();
    @*var submitid = "submit" + Model.ProductId.ToString(); *@
}
<div id="@idContenedor" class="col-md-9">
    <div class="row contenedorParametro">
        @*<div class="col-xs-6">
            <h4>@ViewData["descripcion"]</h4>
        </div>*@
        <div class="col-xs-3">
            
            @Html.Hidden("ProductId", "#:Product.ProductId#")
            <input name="Valor" value="#:Quantity#" onchange="cantidadOnChange(this)" class="inpEntero" type="number" min="1" max="100" step="1" />
            <img id="@loadingContenedor" src="~/Content/Kendo/Default/loading.gif" style="display:none" />
            @*<button type="submit" id="@submitid" class="hidden">Guardar</button>*@

        </div>
    </div>
</div>
